<div class="container py-5">


  <% if @posts.count() > 0%>
  <% @posts.each do |post| %>
          <div class="row">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">
                  <%= link_to post.title,post %>
                </h5>
                <p class="card-text">
                  <%= post.content.truncate_words(100) %>
                </p>
                <p class="card-text">
                  <small class="text-muted">
                    <%= post.updated_at.strftime("%d/%m/%Y %H:%M:%S") %> by <%= post.user.email %> 
                  </small>
                </p>
              </div>
            </div>
          </div>
        
          
  <% end %>
  <div class="mt-3 pagination pull-right">
    <%= paginate @posts %>
  </div>
  <% else %>
    <div class="text-align center">No posts yet.</div>
  <% end %>

  
</div>
