<section class="py-3">
  <%= form_tag(posts_path, method: :get) do %>
  <div class="form-group mt-3 col-sm-10">
    Filtar por Tags: 
      <%= text_field_tag(:tags) %>
      <%= submit_tag(t("Search"), class: "btn btn-danger") %>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th><%= t("title") %></th>
        <th><%= t('owner') %></th> </th>
        <th colspan="3"> <%= link_to "#{t('new')} Post", new_post_path, class: 'btn btn-success' %></th> 
        <th ><%= t('tags') %></th> 
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td> <%= post.title %> </td>
        <td> <%= post.user.email %></td>
        
        <td > <%= link_to t('edit'), edit_post_path(post), class: 'btn btn-warning' %></td>
        <td >
          <%= link_to t('show'), post_path(post), class: 'btn btn-info'  %>
        </td>
        <td >
          <%= link_to t('delete'), post_path(post), method: :delete, data: { confirm: 'Você está certo disso ?' }, class: 'btn btn-danger'  %>
        </td>
        <% post.tags.each do |tag| %>
        <td>
          <%= tag.title %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
